/* Drill 1 - Write your code solution below */
#container-1 {
    display: flex;
    grid-template-columns: 1fr 1fr;
}

/* Drill 2 - Write your code solution below */
#container-2 {
    display: flex;
    grid-template-columns: 1fr 1fr;
}

/* Drill 3 - Write your code solution below */
#container-3 {
    display: flex;
    grid-template-columns: 1fr;
}

/* Drill 4 - Write your code solution below */
#container-4 {
    display: flex;
    align-items: center;
    text-align: center;
}

/* Drill 5 - Write your code solution below */
#container-5 {
    display: flex;
    align-items: center;
    justify-content: center;
}
