/*
    Write your CSS for the assignment here.

    You shouldn't need to modify the HTML;
    however, you are allowed to. 
    
    Just be aware that you may break some
    of the setup.css styling if you do so.
*/
p {
    padding: 15px;
}

h2 {
    padding: 15px;
    text-align: center;
}
#trek-card-1 {
    margin: 5px;
    width: 330px;
    
    border-radius: 5px;
    
    box-shadow: -4px 4px 12px #121212;
    background: rgb(204, 239, 204);
    display: flex;
    flex-direction: column;
}

#trek-card-1 a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    background-color: darkgreen;
    display: inline-block;
    width: 100%;
    padding: 13px;
    text-align: center;
    border: 3px solid green;
    transition:background-color .5s,color .5s;
}

#trek-card-1 a:hover {
    background-color: transparent;
    color: black;
}

#trek-card-2 {
    margin: 5px;
    width: 330px;
    
    border-radius: 5px;
   
    box-shadow: -4px 4px 12px #121212;
    background: rgb(204, 239, 204);
    display: flex;
    flex-direction: column;
}

#trek-card-2 a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    background-color: darkgreen;
    display: inline-block;
    width: 100%;
    padding: 13px;
    text-align: center;
    border: 3px solid green;
    transition:background-color .5s,color .5s;
}

#trek-card-2 a:hover {
    background-color: transparent;
    color: black;
}

#trek-card-3 {
    margin: 5px;
    width: 330px;
    
    border-radius: 5px;
   
    box-shadow: -4px 4px 12px #121212;
    background: rgb(204, 239, 204);
    display: flex;
    flex-direction: column;
}

#trek-card-3 a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    background-color: darkgreen;
    display: inline-block;
    width: 100%;
    padding: 13px;
    text-align: center;
    border: 3px solid green;
    transition:background-color .5s,color .5s;
}

#trek-card-3 a:hover {
    background-color: transparent;
    color: black;
}

#trek-card-4 {
    margin: 5px;
    width: 330px;
   
    border-radius: 5px;
   
    box-shadow: -4px 4px 12px #121212;
    background: rgb(204, 239, 204);
    display: flex;
    flex-direction: column;
}

#trek-card-4 a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    background-color: darkgreen;
    display: inline-block;
    width: 100%;
    padding: 13px;
    text-align: center;
    border: 3px solid green;
    transition:background-color .5s,color .5s;
}

#trek-card-4 a:hover {
    background-color: transparent;
    color: black;
}
