
/*******************************************************************************
                        Site Wide use with Caution!!
*******************************************************************************/

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif; 
}

body {
    width: 50%;
    min-width: 400px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../images/background.jpg");
}

h2 {
    text-align: center;
    padding: 20px;
    border: solid black 3px;
    border-radius: 30px;
    background-color: #dca118;
}

p {
    text-align: center;
    padding: 20px;
    border: solid black 3px;
    border-radius: 40px;
    background-color: #dca118;
}

/*******************************************************************************
                                    Nav-Bars
*******************************************************************************/


    
#navbar {
    background: radial-gradient(at top left, crimson, orange);
    display: flex;
    align-items: center;
    border-radius: 60px;
    border: solid black 3px;
}
    
#navbar a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 24px;
    margin-right: auto;
}
    
#navbar a:hover {
    background: radial-gradient(at top left, crimson, orange);
    border-radius: 60px;
}
    
#navbar #logo {
    margin-right: auto;
    font-weight: bold;
    font-size: 36px;
    padding-top: 13px;
    padding-bottom: 12px;
}
    
.dropdown-container {
    position: relative;
}
    
    
.dropdown-menu {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.25s,visibility 0.25s;
}
    
    
.dropdown-container:last-child .dropdown-menu {
    right: 0px;
}
    
    
.dropdown-container:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}
    
.dropdown-menu a {
    background-color: rgb(176, 84, 42);
    width: 100%;
    min-width: 200px;
    border-radius: 60px;

}
    
#navbar .dropdown-menu a:hover {
    background: rgb(183, 93, 44);
    border-radius: 60px;
}



/*******************************************************************************
                                    Hero-HOME
*******************************************************************************/


#hero h2 {
    display: flex;
    font-size: 2vw;
    text-align: center;
    margin-bottom: 5vh;
    padding: 15px;
   
    color:black;
    background-color:white;
    border-radius: 60px;
}

#hero a {
    font-size: 1.5vw;
    display: inline-block;
    background-color: white;
    color: #333333;
    text-decoration: none;
    padding: 24px;
    margin: 5vh 2vw 10vh;
}


#hero {
    background-image: url("../images/hero1.jpg");
    height: 90vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    border:solid black 3px;
    margin-top: 10px;
}

/*******************************************************************************
                                    Hero-1+3
*******************************************************************************/

#hero2 {
    background-image: url("../images/huggy.jpg");
    height: 90vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    border:solid black 3px;
}

#hero3 {
    background-image: url("../images/max.jpg");
    height: 90vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    border:solid black 3px;
}

#hero4 {
    background-image: url("../images/spooky.jpg");
    height: 90vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    border:solid black 3px;
}

/*******************************************************************************
                                    Media Queries
*******************************************************************************/


    
@media screen and (max-width: 480px) {
}
#navbar #logo{
        margin-right: auto;
        font-weight: bold;
        font-size: 20px;
        padding-top: 13px;
        padding-bottom: 12px;
    }
#navbar a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 15px;
    margin-right: auto;
}

#hero {
    background-image: url("../images/hero1.jpg");
    height: 50vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    border:solid black 3px;
}



#hero2 {
    background-image: url("../images/huggy.jpg");
    height: 50vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    border:solid black 3px;
}

#hero3 {
    background-image: url("../images/max.jpg");
    height: 50vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    border:solid black 3px;
}

#hero4 {
    background-image: url("../images/spooky.jpg");
    height: 50vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    border:solid black 3px;
}