* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.single-column {
    width: 50%;
    min-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.nav-bar {
    border: solid rgb(4, 84, 4) 5px;
    border-radius: 10px;
    padding:20px;
    background-color: burlywood;
    
}

#container-6 {
    display: flex;
    justify-content: space-between;
}

#layout {
    max-width: 900px;
    margin: 48px auto;
    text-align: center;
}

.link3 {
    color: rgb(210, 3, 3);
    text-decoration: none;
}

.link2 {
    border: solid black;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    background-color: red;
    padding: 3px;
}
.nav-bar2 {
    
    border: solid rgb(255, 224, 25) 5px;
    border-radius: 10px;
    padding:20px;
    background-color: rgb(253, 166, 51);
        

}

#body2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.link4 {
    color: rgb(77, 6, 85);
    text-decoration: none;
}

.link5 {
    border: solid black;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    background-color: red;
    padding: 3px;
}
.nav-bar3 {
    
    border: solid rgb(77, 6, 85) 3px;
    border-radius: 10px 10px 0px 0px;
    padding:20px;
    background-color: rgb(221, 136, 24);
        

}

h4 {
    padding: 15px;
    background-color: rgb(29, 162, 29);
}

.nav-bar4 {
    
    border: solid rgb(77, 6, 85) 1px;
    border-radius: 0px 0px 10px 10px;
    padding:3px;
    background-color: rgb(221, 136, 24);
        

}

#container-9 {
    display: flex;
    justify-content: space-between;
}