* {
    box-sizing: border-box;
}

body {
    font-family:'Courier New', Courier, monospace;
    color:whitesmoke;
    margin: 0px;
    background-color: #111111;
}

#grid-layout {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-areas:
        "header header"
        "sidebar main"
}

#header {
    grid-area: header;
    padding: 0px 36px;
}

#sidebar {
    grid-area: sidebar;
    padding: 0px 24px;
}

#main {
    grid-area: main;
    display: flex; 
    flex-wrap: wrap; 
}

#header a {
    text-decoration: none;
}

#header #me {
    color: whitesmoke;
}

#header #tube {
    color: white;
    background-color: red;
    padding: 4px;
    border-radius: 12px;
}

#sidebar ul {
    padding: 12px 0px;
    margin: 0px;
    list-style-type: none;
    border-bottom: 2px dotted #AAAAAA
}


#sidebar ul a {
    text-decoration: none;
    color: whitesmoke;
    display: block;
    padding: 12px;
}

#sidebar ul a:hover {
    background-color: #dc3d3d;
    border-radius: 12px;
}

.metube-item {
    flex: 250px;
    margin-right: 12px;
    margin-bottom: 24px;
}

.metube-item .thumbnail-placeholder {
    aspect-ratio: 16 / 9;
    /* background: radial-gradient(at top left, rgb(187, 0, 0), whitesmoke); */
    background-image: url("../images/broken2.jpg");
    border-radius: 8px;
}

#one {
    padding: 80px;
    text-align: center;
    border: 5px solid #dc3d3d;
    border-radius: 60px 60px 60px 60px;
}

#one ul a {
    text-align: center;
    border-radius: 60px 60px 60px 60px;
    border:3px solid red;
    padding: 10px;
    color:whitesmoke;
    text-decoration: none;
    background-color: red;
}
.metube-item .thumbnail-placeholder0 {
    aspect-ratio: 16 / 9;
    /* background: radial-gradient(at top left, rgb(187, 0, 0), whitesmoke); */
    background-image: url("../images/space6.webp");
    border-radius: 8px;
}

.metube-item .thumbnail-placeholder1 {
    aspect-ratio: 16 / 9;
    /* background: radial-gradient(at top left, rgb(187, 0, 0), whitesmoke); */
    background-image: url("../images/space5.jpeg");
    border-radius: 8px;
}

.metube-item .thumbnail-placeholder2 {
    aspect-ratio: 16 / 9;
    /* background: radial-gradient(at top left, rgb(187, 0, 0), whitesmoke); */
    background-image: url("../images/space2.jpeg");
    border-radius: 8px;
}

.metube-item .thumbnail-placeholder3 {
    aspect-ratio: 16 / 9;
    /* background: radial-gradient(at top left, rgb(187, 0, 0), whitesmoke); */
    background-image: url("../images/space3.jpeg");
    border-radius: 8px;
}

.metube-item .thumbnail-placeholder4 {
    aspect-ratio: 16 / 9;
    /* background: radial-gradient(at top left, rgb(187, 0, 0), whitesmoke); */
    background-image: url("../images/space4.jpeg");
    border-radius: 8px;
}